    * {
        background-color: #211f1f;
        border-radius: 6px;
    }

    .container__content {
        width: 95%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .content__cover > img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 25px;
    }

    .content__title > h1{
        padding-bottom: 25px;
        text-align: center;
    }

    .content__description > p{
        color: #f5f5f5d2;
        font-size: 1.2rem;
        padding: 5px;
    }
